@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@layer utilities {
  .font-hind {
    font-family: "Hind Madurai", sans-serif;
  }
  .font-inter {
    font-family: "Inter", sans-serif;
  }
  .bg-banner-gradient {
    background: linear-gradient(
      90deg,
      rgba(1.251827359199524, 49.64006805419922, 34.606834411621094, 1),
      rgba(0, 103, 71, 1) 50%,
      rgba(1, 50, 35, 1) 100%
    );
  }
}
